// Fonts
@import url('https://fonts.bunny.net/css?family=abel');
@import url('https://fonts.bunny.net/css?family=bad-script');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap'; 
:root {

     --font-family-global: 'Abel', sans-serif;
     --font-family-titulo: 'Bad Script', sans-serif;
    
    --color-principal-background: #E5FFCC !important; 
    --text-principal: #515151 !important;
    
    
    --color-secundario-background: #FDFFFA !important; 
    --text-secundario: #515151 !important;

    
    --color-th-table-background: #FDFFFA !important; 
     --text-th-table: #515151 !important;
    
}

.font-titulo {
    font-family: var(--font-family-titulo); 
    
}

.color-principal {
    background-color: var(--color-principal-background);
    color: var(--text-principal); 
}

.table th,.table thead th {
    background-color: var(--color-th-table-background);
    color: var(--text-th-table); 
}

.color-secundario {
    background-color: var(--color-secundario-background);
    color: var(--text-secundario); 
}